#triangle-second{
    display : inline-block;
    position: relative;
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-bottom : 88px solid transparent;
    border-left : 153px solid violet;
   }
   #triangle-first{
    display : inline-block;
    position: relative;
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-right : 153px solid cyan;
    border-bottom : 88px solid transparent;
    border-collapse: collapse;
   }

   #triangle-third{
    
    position: absolute;
    left: 165px;
    top: 100px;
    
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-right : 153px solid yellow;
    border-bottom : 88px solid transparent;
    background-repeat: space repeat;
   }

   #triangle-four{
    display : inline-block;
    position: absolute;
    left : 315px;
    top:100px;
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-bottom : 88px solid transparent;
    border-left : 153px solid rgb(255, 255, 115);
   }

   #triangle-five{
    display : inline-block;
    position: relative;
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-right : 153px solid blue;
    border-bottom : 88px solid transparent;
   }

   #triangle-six{
    display : inline-block;
    position: relative;
    height : 0;
    width : 0;
    border-top : 88px solid transparent;
    border-bottom : 88px solid transparent;
    border-left : 153px solid red;
   }