
td:nth-child(4n+1){
    background-color: rgb(197, 197, 197);
    
  }
  
  td:nth-child(4n+2){
    background-color: rgb(167, 167, 167);
  }
  td:nth-child(4n+3){
    background-color: rgb(92, 92, 92);
  }
  td:nth-child(4n+4){
    background-color: rgb(59, 59, 59);
  }
  