body {
    background-color: rgb(247, 153, 150);
    background-image: linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, white 75%),
     linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, red 75%),
     linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, white 75%);
    background-size: 100px 100px;
    background-position: 0px 0px, 50px 50px, 0px 0px;
  }